# OHOS Scrcpy 服务端 - 运行权限配置
# 放置在 /system/etc/init/ 目录下

{
    "jobs" : [{
        "name" : "post-fs-data",
        "cmds" : [
            "chmod 755 /data/local/tmp/ohos_scrcpy_server"
        ]
    }],
    "services" : [{
        "name" : "ohos_scrcpy_server",
        "path" : ["/data/local/tmp/ohos_scrcpy_server"],
        "uid" : "shell",
        "gid" : ["shell", "system", "input"],
        "secon" : "u:r:ohos_scrcpy_server:s0",
        "caps" : ["SYS_PTRACE"]
    }]
}
